.ui-box{
    width: 250px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
.ui-box-button{
    width: 60px;
    height: 20px;
    background-color: white;
    border: 1px solid lightgray;
    text-align: center;
}
.bgc{
     background-color: lightgray;
 }
.ui-box-square-box{
    float: left;
    width: 200px;
    height: 160px;
    text-align: center;
    border: 1px solid lightgray;
}
.none{
    display: none;!important;
}