#ui-box-head{
    width: 300px;
    height: 30px;
    border: 1px solid lightgray;
    margin: auto;
    background-color: lightgray;
}
.ui-box-head-title{
    float: left;
    width: 60px;
    height: 32px;
    text-align: center;
    background-color: lightgray;
    padding-bottom: 7px;
    outline: none;
}
.ui-box-head-title:hover{
    background-color: white;
}


#ui-box-bodytop{
    width: 300px;
    height: 80px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: auto;
}
.ui-box-bodytop-textup{
    width: 250px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.ui-box-bodytop-textdown{
     width: 250px;
     margin-right: 20px;
     margin-bottom: 10px;
     margin-left: 20px;
 }

#ui-box-bodymidup{
    width: 300px;
    height: 150px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: auto;
}
.ui-box-bodymidup-left{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom:0px;
    background-color: orangered;
}
.ui-box-bodymidup-rightup{
    width: 185px;
    float: left;
    margin-top: 20px;
    margin-left:20px;
    margin-bottom: 10px;
}
.ui-box-bodymidup-rightdowm{
    width: 185px;
    float: left;
    margin-left: 20px;
}
.ui-box-bodymidup-button{
    width: 80px;
    height:30px;
    margin-left: 13px;
    margin-top: 20px;
    border: 0px;
    border-radius: 6px;
    color: whitesmoke;
    background-color: orangered;
    text-align: center;
}
.ui-box-bodymidup-button,
.ui-box-bodymidup-button:active{
    outline: none;
}

#ui-box-bodymiddown{
    width: 300px;
    height: 50px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: auto;
}
.ui-box-bodymiddown-text{
    width: 250px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#ui-box-bodydown{
    width: 300px;
    height: 270.5px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: auto;
}
.ui-box-bodydown-leftup{
    float: left;
    width: 119.4px;
    height: 180px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.ui-box-bodydown-leftup-content{
    width: 60px;
    height: 80px;
    margin-left: 30px;
    margin-top: 40px;
    background-color: orangered;
}
.ui-box-bodydown-mid{
    float: left;
    width: 59.2px;
    height: 89.5px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.ui-box-bodydown-right{
    float: left;
    width: 59.2px;
    height: 89.5px;
    border-bottom: 1px solid lightgray;
}
.ui-box-bodydown-bottom{
    float: left;
    width: 59.2px;
    height: 89.5px;
    border-right: 1px solid lightgray;
}
.ui-box-bodydown-last{
    float: left;
    width: 59.2px;
    height: 89.5px;
}
.ui-box-bodydown-square{
    width: 35px;
    height:35px;
    margin-left: 12px;
    margin-top: 20px;
    background-color: orangered;
}
.ui-box-bodydown-word{
    color: gray;
    text-align: center;
    font-size: 10px;
    margin-top: 5px
}

